<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <title>City List</title>
    <style>
        th {
            padding: 0px 5px 0px 5px;
        }
        td {
            padding: 0px 5px 0px 5px
        }
    </style>
</head>

<body>
<main>
    <div layout:fragment="content" class="container">
        <h2>Za sad samo prikaz jedne tabele iz baze nista specijalno</h2>
        <table style="color:black;">
            <tr>
                <th> ID</th>
                <th> Name</th>
                <th> Description</th>
                <th> Latitude (X)</th>
                <th> Longitude (Y)</th>
                <th> Created On</th>
                <th> Updated On</th>
                <th> Edit Buttons</th>
            </tr>
            <tr th:each="city :${cities}">
                <td th:text="${city.id}"></td>
                <td th:text="${city.name}"></td>
                <td th:text="${city.description}"></td>
                <td th:text="${city.latitude_x}"></td>
                <td th:text="${city.longitude_y}"></td>
                <td th:text="${city.createdOn}"></td>
                <td th:text="${city.updatedOn}"></td>
                <td>
                    <a th:href="@{/cities/{cityId}/edit(cityId=${city.id})}"> Edit </a>
                </td>
                <td>
                    <a th:href="@{/cities/{cityId}/delete(cityId=${city.id})}"> Delete </a>
                </td>
            </tr>
        </table>




    </div>
</main>
</body>

</html>
