<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Edit CIty</title>

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .text_danger {
           color:red;
        }
    </style>
</head>

<body>
<main>
    <div layout:fragment="content" class="container">
        <form role="form" method="post" th:action="@{/cities/{cityId}/edit(cityId=${city.id})}" th:object="${city}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name">City Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       name="name"
                       th:field="*{name}"
                       placeholder="City">
                <p th:if="${#fields.hasErrors('name')}" class="text_danger" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label for="description">City Description</label>
                <textarea class="form-control"
                          id="description"
                          name="description"
                          th:field="*{description}"
                          placeholder="City Description"></textarea>
                <p th:if="${#fields.hasErrors('description')}" class="text_danger" th:errors="*{description}"></p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="latitude_x">Latitude (X coordinate)</label>
                    <input type="text"
                           class="form-control"
                           id="latitude_x"
                           name="latitude_x"
                           th:field="*{latitude_x}"
                           placeholder="X">
                    <p th:if="${#fields.hasErrors('latitude_x')}" class="text_danger" th:errors="*{latitude_x}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="longitude_y">Longitude (Y coordinate)</label>
                    <input type="text"
                           class="form-control"
                           id="longitude_y"
                           name="longitude_y"
                           th:field="*{longitude_y}"
                           placeholder="Y">
                    <p th:if="${#fields.hasErrors('longitude_y')}" class="text_danger" th:errors="*{longitude_y}"></p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
</body>

</html>
