<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title> City </title> <!-- TODO: Dodaj tymeleaf custom city name-->
    </head>

    <body>
        <main>
            <div layout:fragment="content">
                <div class="container city-name">
                    <h1>[(${city.name})]</h1>
                </div>

                <div class="container">
                    <section class="funFacts">
                        <div class="container d-flex wrap">
                            <div class="two-column">
                                <img th:src="@{/images/Budva1.jpg}" alt="Budva1"/>
                            </div>
                            <article class="article-facts two-column justify-between">
                                <h2><a class="active">Fun facts about the city</a></h2>
                                <p>
                                    Eternity bands are a classy and stylish innovation to
                                    storm the market. These are often gifted for a marriage
                                    anniversary or at the time of giving birth to a child.
                                    These eternity bands need no occasion to be gifted and
                                    can be given as gifts whenever one wishes to.
                                </p>
                                <a href="#" class="section-link">
                                    Learn more fun facts about this city
                                </a>
                            </article>
                        </div>
                    </section>

                    <section class="coolPlaces">
                        <div class="container d-flex wrap">
                            <div class="two-column">
                                <img th:src="@{/images/Budva2.jpg}" alt=""/>
                            </div>
                            <article class="two-column justify-between">
                                <h2><a class="active">Cool Places</a></h2>
                                <p>
                                    Eternity bands are a classy and stylish innovation to
                                    storm the market. These are often gifted for a marriage
                                    anniversary or at the time of giving birth to a child.
                                    These eternity bands need no occasion to be gifted and
                                    can be given as gifts whenever one wishes to.
                                </p>
                                <a href="#" class="section-link">
                                    Learn more about Cool places this city has to offer
                                </a>
                            </article>
                        </div>
                    </section>

                    <section class="historical place">
                        <div class="container d-flex wrap">
                            <div class="two-column">
                                <img th:src="@{/images/Budva3.jpg}" alt=""/>
                            </div>
                            <article class="two-column justify-between">
                                <h2><a class="active">Historical Places</a></h2>
                                <p>
                                    Eternity bands are a classy and stylish innovation to
                                    storm the market. These are often gifted for a marriage
                                    anniversary or at the time of giving birth to a child.
                                    These eternity bands need no occasion to be gifted and
                                    can be given as gifts whenever one wishes to.
                                </p>
                                <a href="#" class="section-link">
                                    Learn more about Historical places this city has to offer
                                </a>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </body>
</html>
