<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sava Tomovic">
    <meta name="description" content="Meet Montenegro">
    <meta name="keywords" content="Montenegro,beach,map,tourism">

    <script src="https://kit.fontawesome.com/f34c11242c.js" crossorigin="anonymous"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>


    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Map</title>
</head>

<body>

<header>
    <div class="container d-flex justify-between align-items-center">
        <div class="header-title ">
            <a href="#" class="logo-picture">
                <img th:src="@{/images/noviLogo.png}" alt=""/>
            </a>
        </div>
        <nav class="header-nav ">
            <ul class="header-nav d-flex">
                <li><a href="#home" class="active">home</a></li>
                <li><a href="#about">about us</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a th:href="@{/cities/new}">New City</a>
                    <a th:href="@{/cities/table}">Table of Cities</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<div layout:fragment="content">
<!-- ovdje ide fragment iz drugih templejta zavisi sve sta se posalje kroz controler-->
</div>

<footer>
    <div class="container d-flex justify-between align-items-center">
        <a class="footer-logo">
            <img th:src="@{/images/noviLogo.png}" alt=""/>
        </a>
        <nav class="social d-flex align-items-start">
            <a href="#" class="fa-brands fa-facebook"></a>
            <a href="#" class="fa-brands fa-twitter"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
        </nav>
    </div>
</footer>



</body>

</html>